<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/horizontal-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="static/images/favicon.png" />
</head>

<body class="sidebar-dark" style="font-family: 'Oxygen', sans-serif;">
    <div class="container-fluid page-body-wrapper">
      {% include "header.html" %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">

                    <a style="position: absolute;right: 20px;margin-top: 18px;" href="/admin/add_update_market"><button class="btn btn-primary">Add New Market</button></a>

                    <div class="card-body" style="margin-top: 25px;">
                        <h4 class="card-title">Select Market</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Sn</th>
                                                    <th>Name</th>
                                                    <th>Open Time</th>
                                                    <th>Close Time</th>
                                                    <th>Result Time</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        <tbody>
                                            {% for market in markets %}
                                                <tr>
                                                    <td>{{ market.id }}</td>
                                                    <td>{{ market.name }}</td>
                                                    <td>{{ market.open_time }}</td>
                                                    <td>{{ market.close_time }}</td>
                                                    <td>{{ market.result_time }}</td>
                                                    <td>
                                                        <a href="/admin/add_update_market?id={{ market.id }}"><button class="btn btn-outline-info">Edit</button></a>
<!--                                                        <button class="btn btn-outline-info" onclick="">Delete</button></a>-->
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="w-100 clearfix">
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
    
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="static/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/hoverable-collapse.js"></script>
    <script src="static/js/template.js"></script>
    <script src="static/js/settings.js"></script>
    <script src="static/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="static/js/data-table.js"></script>
    <!-- End custom js for this page-->
</body>

</html>
