<style>
    .stretch-card > .card {
        width: 100%;
        min-width: 100%;
        background-color: #282f3a;
        color: white;
        border-radius: 12px;
        box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 75%);
        -webkit-box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 75%);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    }
    
    .stretch-card > .card a {
        color: white;
    }

    .stretch-card > .card .card-title {
        color: white;
    }
    .stretch-card > .card span {
        color: white;
    }
    
    
    .nav-link .login-email {
        margin-right: 0.5rem;
        color: #282f3a;
    }
    
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right:0;
        width: 100%;
        height: 100%;
        z-index: 99999999;
        background-repeat: no-repeat;
        background-color: #FFF;
        background-position: center;
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }
    
    select {
            color:#dee3e0 ;
    }
    
    body {
        height: 100% !important;
        overflow: hidden !important;
    }
    
    .material-dropdown {
        margin: 10px;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 75%) 0px 0px 14px 2px;
        --darkreader-inline-boxshadow: rgba(24, 26, 27, 0.75) 0px 0px 14px 2px;
    }
    
    .shimmer {
        font-weight: 300;
        font-size: 3em;
        margin: 0 auto;
        display: inline;
        margin-bottom: 0;
        line-height: 70px;
    }
    
    .nav-ite i{
        margin-right:13px;
    }
    
    .nav-ite:hover{
        
        border-radius:8px;
        background-color:#dee3e0;
    }


.shimmer {
        text-align: center;
        color: rgba(255, 255, 255, 0.1);
        background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
        -webkit-background-size: 125px 100%;
        -moz-background-size: 125px 100%;
        background-size: 125px 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-animation-name: shimmer;
        -moz-animation-name: shimmer;
        animation-name: shimmer;
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: #222;
}

@-moz-keyframes shimmer {
        0% {
                background-position: top left;
        }
        100% {
                background-position: top right;
        }
}

@-webkit-keyframes shimmer {
        0% {
                background-position: top left;
        }
        100% {
                background-position: top right;
        }
}

@-o-keyframes shimmer {
        0% {
                background-position: top left;
        }
        100% {
                background-position: top right;
        }
}

@keyframes shimmer {
        0% {
                background-position: top left;
        }
        100% {
                background-position: top right;
        }
}

select {
    outline: none !important;
}

.dropdown-menu-right {
    margin: 10px !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 42px 10px rgb(0 0 0 / 75%) !important;
    -webkit-box-shadow: 0px 0px 42px 10px rgb(0 0 0 / 75%) !important;
    -moz-box-shadow: 0px 0px 42px 10px rgba(0,0,0,0.75) !important;
}

</style>




<div onload="upi();" class="preloader" id="preloader">
    <h1 class="shimmer">Loading...</h1>
</div>
    
    <nav onload="withdraw();" class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div  class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo me-5" href="index.php" style="color:white">SAMRAT SATTA</a>
        <a class="navbar-brand brand-logo-mini" href="index.php" style="color: white;font-weight: 600;">SAMRAT</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-layout-grid2"></span>
        </button>
        
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown" id="profileDropdown"> <span class="login-email">SAMRAT SATTA</span>
                            <img src="static/images/faces/user.png" alt="profile"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown material-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="/admin/change_password">
                                <i class="ti-settings text-primary"></i>
                                Change password
                            </a>
                            <a class="dropdown-item" href="/admin/logout">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="ti-layout-grid2"></span>
        </button>
      </div>
    </nav>
    
      
<script>
window.onload = function(e) {
    var preloader = document.getElementById('preloader');
    var opacity = 1;

    // Function to fade out the preloader element
    function fadeOut() {
        opacity -= 0.1;
        preloader.style.opacity = opacity;

        if (opacity <= 0) {
            preloader.style.display = "none";
        } else {
            setTimeout(fadeOut, 40);
        }
    }

    fadeOut(); // Start the fading animation

    // Function to remove an element by its ID
    function removeElement(id) {
        var elem = document.getElementById(id);
        if (elem && elem.parentNode) {
            elem.parentNode.removeChild(elem);
        }
    }
};
</script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                  <i  class="ti-home menu-icon"></i>
                  <span  class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                 <a class="nav-link" data-bs-toggle="collapse" href="#xui-basiccccc" aria-expanded="false" aria-controls="ui-basic">
                    <i  class="ti-game menu-icon"></i>
                    <span class="menu-title">Market Management</span>
                    <i class="menu-arrow"></i>
                 </a>
                 <div class="collapse" id="xui-basiccccc">
                  <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="/admin/markets">Delhi Market</a></li>
                  </ul>
                 </div>
            </li>

            <li class="nav-item">
                 <a class="nav-link" data-bs-toggle="collapse" href="#xui-basicccc" aria-expanded="false" aria-controls="ui-basic">
                    <i  class="ti-game menu-icon"></i>
                        <span class="menu-title">Result Management</span>
                    <i class="menu-arrow"></i>
                 </a>
                <div class="collapse" id="xui-basicccc">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="/admin/delhi_result_update">Delhi Publish Result</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/delhi_result_history">Delhi Result History</a></li>
                      </ul>
                </div>
            </li>

            <li class="nav-item">
                 <a class="nav-link" data-bs-toggle="collapse" href="#xui-dasicccc" aria-expanded="false" aria-controls="ui-basic">
                    <i  class="ti-game menu-icon"></i>
                        <span class="menu-title">Deposit Management</span>
                    <i class="menu-arrow"></i>
                 </a>
                 <div class="collapse" id="xui-dasicccc">
                      <ul class="nav flex-column sub-menu">
                          <li class="nav-item"><a class="nav-link" href="/admin/transaction_history?title=d_pen&type=DEPOSIT&status=SUCCESS&page=DEPOSIT">Completed Deposits</a></li>
                          <li class="nav-item"><a class="nav-link" href="/admin/transaction_history?title=d_pen&type=DEPOSIT&status=PROCESSING&page=DEPOSIT">Pending Deposits</a></li>
                      </ul>
                </div>
            </li>

            <li class="nav-item">
                 <a class="nav-link" data-bs-toggle="collapse" href="#xui-wasicccc" aria-expanded="false" aria-controls="ui-basic">
                    <i  class="ti-game menu-icon"></i>
                        <span class="menu-title">Withdrawal Management</span>
                    <i class="menu-arrow"></i>
                 </a>
                 <div class="collapse" id="xui-wasicccc">
                      <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/transaction_history?title=w_com&type=WITHDRAWAL&status=SUCCESS&page=WITHDRAWAL">
                                   Completed Withdrawals
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/transaction_history?title=w_pen&type=WITHDRAWAL&status=PROCESSING&page=WITHDRAWAL">
                                    Pending Withdrawals
                                    <span style="margin-left:3px;font-size:15px; color:red;font-weight:900; padding:1px 8px; border-radius:100%;"></span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/transaction_history?title=w_can&type=WITHDRAWAL&status=CANCELLED&page=WITHDRAWAL">
                                    Cancelled Withdrawals
                                </a>
                            </li>
                      </ul>
                 </div>
            </li>

                

                
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="card_report.php">-->
<!--                        <i class="ti-write menu-icon"></i>-->
<!--                        <span class="menu-title">Card Report</span>-->
<!--                    </a>-->
<!--                </li>-->

                <li class="nav-item">
                     <a class="nav-link" data-bs-toggle="collapse" href="#xui-basic-b" aria-expanded="false" aria-controls="ui-basicc">
                        <i class="ti-game menu-icon"></i>
                        <span  class="menu-title">Bets Report</span>
                        <i class="menu-arrow"></i></a>
                    <div class="collapse" id="xui-basic-b">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin/bet_history?&page=ALL">All Bets</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/bet_history?title=s_bet&status=WON,LOST&page=ALL">Profit Summary</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/bet_history?title=p_bet&status=PENDING&page=PROCESSING">Pending Bets</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/bet_history?title=c_bet&status=CANCELLED&page=CANCELLED">Cancelled Bets</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/bet_history?title=l_bet&status=LOST&page=LOST">Lost Bets</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/bet_history?title=w_bet&status=WON&page=WON">Winning Bets</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                     <a class="nav-link" data-bs-toggle="collapse" href="#xui-basic" aria-expanded="false" aria-controls="ui-basicc">
                        <i class="ti-game menu-icon"></i>
                        <span  class="menu-title">Transaction Report</span>
                        <i class="menu-arrow"></i></a>
                    <div class="collapse" id="xui-basic">

                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin/transaction_history?page=ALL">All Transactions</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/transaction_history?title=d&type=DEPOSIT&page=DEPOSIT">Deposits</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/transaction_history?title=w&type=WITHDRAWAL&page=WITHDRAWAL">Withdraws</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/transaction_history?title=b&type=BONOUS&page=BONOUS">Bonus</a></li>
                        </ul>
                    </div>
                </li>
                
                 <li class="nav-item">
                     <a class="nav-link" data-bs-toggle="collapse" href="#xui-basiccc" aria-expanded="false" aria-controls="ui-basic">
                        <i  class="ti-game menu-icon"></i>
                        <span class="menu-title">User Management</span>
                        <i class="menu-arrow"></i></a>
                    <div class="collapse" id="xui-basiccc">
                      <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin/users">Total Registered Users</a></li>
                            <li class="nav-item"><a class="nav-link" href="/admin/users?date=" id="todayUsersLink">Today Registered Users</a></li>

                            <script>
                                var currentDate = new Date();
                                var formattedDate = currentDate.toISOString().slice(0, 10);
                                var todayUsersLink = document.getElementById('todayUsersLink');
                                todayUsersLink.href += formattedDate;
                            </script>
                            <li class="nav-item"><a class="nav-link" href="/admin/users?active=0">Blocked Users</a></li>
                        </ul>
                    </div>
                </li>
                
                
                
                <li class="nav-item">
                    <a class="nav-link" href="/admin/image_slider">
                        <i class="ti-crown menu-icon"></i>
                        <span class="menu-title">Image Slider</span>
                    </a>
                </li>
                    
                <li class="nav-item">
                    <a class="nav-link" href="/admin/withdraw_modes">
                        <i  class="ti-user menu-icon"></i>
                        <span  class="menu-title">Withdraw Methods</span>
                    </a>
                </li>

<!--               <li class="nav-item">-->
<!--                    <a class="nav-link" href="notification.php">-->
<!--                        <i  class="ti-alert menu-icon"></i>-->
<!--                        <span  class="menu-title">Send Notification</span>-->
<!--                    </a>-->
<!--                </li>-->

                             
                 <li class="nav-item">
                    <a class="nav-link" href="/admin/rates">
                        <i class="ti-money menu-icon"></i>
                        <span  class="menu-title">Rates</span>
                    </a>
                </li>
                

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="refers.php">-->
<!--                        <i  class="ti-link menu-icon"></i>-->
<!--                        <span class="menu-title">Refers</span>-->
<!--                    </a>-->
<!--                </li>-->


                 <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="ti-files menu-icon"></i>
                        <span class="menu-title">Content</span>
                        <i class="menu-arrow"></i></a>
                   <div class="collapse" id="ui-basic">
                      <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin/notice">Notice</a></li>
<!--                            <li class="nav-item"><a class="nav-link" href="homeline.php">Homescreen text</a></li>-->
<!--                            <li class="nav-item"><a class="nav-link" href="howtoplay.php">How to play</a></li>-->
                        </ul>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/admin/settings">
                        <i class="ti-settings menu-icon"></i>
                        <span class="menu-title">Settings</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/app_updates">
                        <i class="ti-write menu-icon"></i>
                        <span class="menu-title">App updates</span>
                    </a>
                </li>
        </ul>
      </nav>
      
      
      <script type="text/javascript">
          
      </script>
