
<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/horizontal-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="static/images/favicon.png" />
    
    <style>
        .ref {
                background: #4caf50;
                padding: 10px;
                color: white;
                font-size: 15px;
                border-radius: 5px;
                margin-top: 20px;
                display:none;
        }
        
         
        .dt-buttons {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .dt-button {
            background: #fff;
            border: solid #000 1px;
            border-radius: 5px;
            padding: 5px 15px;
        }
    </style>
</head>


<body class="sidebar-dark" style="font-family: 'Oxygen', sans-serif;">
  <div class="container-fluid page-body-wrapper">

    {% include "header.html" %}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" id="p-title">Transactions</h4>
                        <div class="row">
                            <form id="filterForm" method="post"  autocomplete="off">
                                <input autocomplete="false" name="hidden" type="text" style="display:none;">
                                <div class="form-group" style="    margin-bottom: 10px !important; margin-right:20px;">
                                    <label for="exampleInputName1">From Date</label>
                                    <input type="datepicker" id="datepicker" class="form-control" name="from" required>
                                </div>
                                        
                                           
                                <div class="form-group" style="    margin-bottom: 10px !important; margin-right:20px;">
                                    <label for="exampleInputName1">To Date</label>
                                    <input type="datepicker" id="datepicker2" class="form-control" name="to" required>
                                </div>
                                         
                                <button style="margin-top: 32px;" class="btn btn-primary">Filter</button>
                            </form>

                            <script>
                                function handleFormSubmit(event) {
                                    event.preventDefault();
                                    var fromInput = document.getElementById('datepicker');
                                    var toInput = document.getElementById('datepicker2');

                                    var fromDate = fromInput.value;
                                    var toDate = toInput.value;

                                    var queryParams = new URLSearchParams(window.location.search);

                                    queryParams.set('from', fromDate);
                                    queryParams.set('to', toDate);

                                    var newUrl = window.location.pathname + '?' + queryParams.toString();

                                    window.location.href = newUrl;
                                }

                                document.getElementById('filterForm').addEventListener('submit', handleFormSubmit);
                            </script>

                            <div class="col-12">
                                <div class="table-responsive">
                                        <table id="example" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Sn</th>
                                                        <th>Mobile</th>
                                                        <th>Name</th>
                                                        <th>Amount</th>
                                                        <th>Payment Method</th>
                                                        <th> Type </th>
                                                        <th>Payment Info</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                        <th>Remark</th>
                                                        <th>Created At</th>
                                                    </tr>
                                                </thead>

                                            {% set ns = namespace(total_deposit = 0, total_withdrawal = 0, total_bonous = 0) %}

                                            <tbody>
                                                {% for transaction in transactions %}
                                                    {% if transaction.type == 'DEPOSIT' %}
                                                        {% set ns.total_deposit = ns.total_deposit + transaction.amount %}
                                                    {% endif %}

                                                    {% if transaction.type == 'WITHDRAWAL' %}
                                                        {% set ns.total_withdrawal = ns.total_withdrawal + transaction.amount %}
                                                    {% endif %}

                                                    {% if transaction.type == 'BONOUS' %}
                                                        {% set ns.total_bonous = ns.total_bonous + transaction.amount %}
                                                    {% endif %}

                                                    <tr>
                                                        <td>{{ transaction.id }}</td>
                                                        <td>{{ transaction.user_phone }}</td>
                                                        <td>{{ transaction.user_name }}</td>
                                                        <td>{{ transaction.amount }}</td>
                                                        <td>{{ transaction.mode }}</td>
                                                        <td>{{ transaction.type }} - {{ transaction.sub_type }}</td>
                                                        <td>{{ transaction.info }}</td>
                                                        <td>{{ transaction.status|lower }}</td>
                                                        <td>
                                                            {% if transaction.status == 'PROCESSING' and transaction.type == 'DEPOSIT' %}
                                                                <button class="btn btn-outline-success" onclick="markDepositAsCompleted({{ transaction.id }})">Mark as complete</button> </a>
                                                                <button class="btn btn-outline-success" onclick="markDepositAsCancel({{ transaction.id }})">Cancel</button> </a>
                                                            {% endif %}

                                                            {% if transaction.status == 'SUCCESS' %}
                                                                No action available
                                                            {% endif %}

                                                            {% if transaction.status == 'PROCESSING' and transaction.type == 'WITHDRAWAL' %}
                                                                <button class="btn btn-outline-info" onclick="markWithdrawalAsCompleted({{ transaction.id }})">Completed</button> </a>
                                                                <button class="btn btn-outline-info" onclick="markWithdrawalAsCancel({{ transaction.id }})">Cancel</button>
                                                                <button class="btn btn-outline-info" onclick="markWithdrawalAsCancelAndRefund({{ transaction.id }})">Cancel and Refund</button>
                                                            {% endif %}


                                                        </td>
                                                        <td>{{ transaction.remark }}</td>
                                                        <td>{{ transaction.created_at }}</td>
                                                    </tr>
                                                {% endfor %}

                                                <tfoot>
                                                    {% if page == "DEPOSIT" %}
                                                        <tr>
                                                            <th>Total Deposit</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ ns.total_deposit }} </th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    {% elif page == "WITHDRAWAL" %}
                                                        <tr>
                                                            <th>Total Withdrawls</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ ns.total_withdrawal }} </th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    {% elif page == "ALL" %}
                                                        <tr>
                                                            <th>Total Deposit</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ ns.total_deposit }} </th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Total Withdrawls</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ ns.total_withdrawal }} </th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>

                                                        <tr>
                                                            <th>Total Bonous</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ ns.total_bonous }} </th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    {% elif page == "EXCLUDE_BONOUS" %}
                                                        <tr>
                                                            <th>Total Deposit</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ ns.total_deposit }} </th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Total Withdrawls</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ ns.total_withdrawal }} </th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>

                                                    {% elif page == "BONOUS" %}
                                                        <tr>
                                                            <th>Total Bonous</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>{{ ns.total_bonous }} </th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    {% endif %}
                                                </tfoot>

                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="w-100 clearfix">
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="static/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="static/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="static/js/off-canvas.js"></script>
<script src="static/js/hoverable-collapse.js"></script>
<script src="static/js/template.js"></script>
<script src="static/js/settings.js"></script>
<script src="static/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="static/js/data-table.js"></script>
<script src="static/js/pages/transactions_history.js"></script>
    
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.print.js"></script>
<script>
    $(document).ready(function() {
    var buttonCommon = {
        exportOptions: {
            format: {
                body: function ( data, row, column, node ) {
                    datas = data.split('>');
                    if(datas.length > 1){
                        data2 = datas[1].replace("</a", "");
                        return data2;
                    } else {
                        return data;
                    }
                }
            }
        }
    };
 
    $('#example').DataTable( {
        dom: 'lBfrtip',
        
        buttons: [
            $.extend( true, {}, buttonCommon, {
                extend: 'copyHtml5',
                columns: ':visible',
                exportOptions: {
                        columns: "thead th:not(.mrl-title)"
                }
            } ),
            $.extend( true, {}, buttonCommon, {
                extend: 'excelHtml5',
                columns: ':visible',
                exportOptions: {
                        columns: "thead th:not(.mrl-title)"
                }
            } ),
            $.extend( true, {}, buttonCommon, {
                extend: 'pdfHtml5',
                columns: ':visible',
                exportOptions: {
                        columns: "thead th:not(.mrl-title)"
                }
            } ),
             $.extend( true, {}, buttonCommon, {
                extend: 'print',
                exportOptions: {
                        columns: "thead th:not(.mrl-title)"
                }
            } )
        ]
    } );
} );
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .datepicker {
            z-index: 99999 !important;
    }
</style>
<script>
$('#datepicker').datepicker({
    format: 'dd/mm/yyyy',
    endDate: '0d'
});
$('#datepicker2').datepicker({
    format: 'dd/mm/yyyy',
    endDate: '0d'
});
</script>



</body>

</html>
