<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/horizontal-layout-light/style.css?v=2">
    <!-- endinject -->
    <link rel="shortcut icon" href="static/images/favicon.png" />
</head>

<body class="sidebar-dark" style="font-family: 'Oxygen', sans-serif;">
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_horizontal-navbar.html -->
    {% include "header.html" %}

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                <div class="card">
                    <div class="card-body">
                    <div class="row">
                        <h4 class="card-title">Manage Todays Deposits</h4>
                        <button id='btn-add' style="margin-bottom: 2%;" onclick="redirectTo('/render_add_market')" class="edit-market-btn btn button btn-outline-secondary">Add Market
                        </button>
                    </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Sn</th>
                                                    <th>Name</th>
                                                    <th>Open Time</th>
                                                    <th>Close Time</th>
                                                    <th>Result Time</th>
                                                    <th>Action</th>
                                                    <!-- <th>Info</th> --> 
                                                    <!-- <th>Winning Wallet</th> -->
                                                    <!-- <th>Bet Id</th>
                                                    <th>Remark</th>
                                                    <th>Register Date</th>
                                                    <th>Settled</th> -->
                                                    <!-- <th>Change password</th> -->
                                                    <!-- <th>Status</th> -->
                                                </tr>
                                            </thead>
                                            <tbody id="users-list">
                                                 {% for market in markets %}
                                                <tr>
                                                    <td>{{ loop.index }}</td>
                                                    <td >{{ market.name }}</td>
                                                    <td >{{ market.open_time }}</td>
                                                    <td >{{ market.close_time }}</td>
                                                    <td>{{ market.result_time }}</td>
                                                    <td>
                                                        <a href="/render_edit_market?id={{market.id}}&&name={{market.name}}&&open_time={{market.open_time}}&&close_time={{market.close_time}}&&result_time={{market.result_time}}" button id='btn-edit' class="edit-market-btn btn button btn-outline-info">Edit
                                                        </button><a>
                                                        <button id='btn-delete' onclick="confirmation_message()" class="edit-market-btn btn button btn-outline-danger">Delete
                                                        </button>
                                                    </td>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

            <script>
</script>


            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="w-100 clearfix">
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
            <!-- partial -->
            </div>
        </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="static/vendors/js/vendor.bundle.base.js?v=2"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="static/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="static/js/off-canvas.js"></script>
<script src="static/js/hoverable-collapse.js"></script>
<script src="static/js/template.js"></script>
<script src="static/js/settings.js"></script>
<script src="static/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="static/js/data-tables.js"></script>
<script src="static/js/pages/view_market.js"></script>
<script>dataTable()</script>
<!-- End custom js for this page-->
</body>
</html>
