<!DOCTYPE html>
<html lang="en">
<head>
    <title>SAMRAT SATTA : Gali Result | Satta Result | Gali Deswar App 
</title>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11382398976">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11382398976');
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GE8S7WKHPD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GE8S7WKHPD');
</script>
    <!-- Meta tag Keywords -->
    <meta name="description" content="Samrat Satta is India's top-rated Satta King and Matka game provider. Get daily updates on Gali, Desawar, गली रिजल्ट, सट्टा किंग and Satta Bazaar results and quickly check your Satta result. Play with friends for the best gaming experience.">
    <meta name="keywords" content="Samrat satta,Satta King,Sattaking,Gali Result,Desawar,Deshawar,Desawar Result,Gali Satta,Satta,satta king fast,satta king ghaziabad,satta king 786,satta king result,satta king online,satta king faridabad,shri ganesh satta king,satta king result chart,taj satta king,satta king kashipur,satta king desawar 2023,satta result,satta company,satta king 2023,satta king up,satta king chart,satta king gali,satta king 2023 chart,satta king chart 2023,gali satta chart,satta king 2022 chart,satta king desawar,fast satta result,gali desawar result,गली रिजल्ट सट्टा किंग">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="admin/static/css/bootstrap.css?v=0.2">
    <link rel="icon" type="image/x-icon" href="admin/static/images/favicon.png">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="admin/static/css/style.css?v=0.5" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="admin/static/css/font-awesome.min.css" rel="stylesheet">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
          rel="stylesheet">
    <style>
        .live{
            background: #f556cb;
            width: 250px;
            height: 60px;
            -webkit-border-radius: 50%;
            -o-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 20%;
            text-align: center;
            margin: 0 auto 1em;
            font-size: 20px;color: #fff;font-weight: bold;margin-top: 15px;
        }
        .p_center{text-align: center !important;}
        .result{font-size: 25px;
                /* margin-top: -15px; */
                color: #f556cb;
                font-style: italic;
                font-weight: bold;}
        .bounce {
            -moz-animation: bounce 2s infinite;
            -webkit-animation: bounce 2s infinite;
            animation: bounce 2s infinite;
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-30px);
            }
            60% {
                transform: translateY(-15px);
            }
        }
        .back_img{background-image: url(admin/static/images/images.jpg)}
        .alert-news {
    color: #fff;
    background-color: #fb87dc;
    border-color: #f556cb;
    border-radius: 20px;
}
@media (min-width: 1200px){
.margin_top_first{margin-top: -55px;}
}
.res{font-weight: bold;
    color: #588ce0 !important;}
    </style>
</head>


<body class="back_img">

    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
                    <!-- logo -->
                    <div style="display:flex" id="logo">
                        <img src="admin/static/images/favicon.png" height="40px">
                        <h3 style="margin-left:10px; margin-top:10px; color:#F64C16"><a style="color:#F64C16; font-size:25px" href="windex.html">SAMRAT SATTA</a></h3>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle"></label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="windex.html" class="active"></a></a></li>

                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </header>
        <!-- //header -->

        <!-- banner -->
        <div class="banner_w3lspvt position-relative">
          
            <div class="d-md-flex">


                    <div class="col-lg-12 about-grid">

                        <div class="about-grid-main" style="text-align: center;">
                            <h4 style="font-weight:700" class="w3ls_pvt-title">GALI <span style="color:#F64C16;font-weight:700">DESAWER APP</span></h4>
                            <p class="p_center">Welcome to the world of SAMRAT  Gali Desawar Satta App</p>


                            <!--<h4 class="my-4 res">LIVE RESULT</h4>-->

                            <a href="admin/static/download/samrat.apk"><div style="background-color:green;padding-top:1px"  class="live bounce">
                                <span style="padding-top:2px" class="">DOWNLOAD SAMRAT SATTA APP</span>
                            </div></a>
                        </div>
                        <div   class="alert alert-news grad" style="display: flex; background-color:#F64C16;">
                <span><strong>News&nbsp;!</strong></span>
                <span style="width:100%;">
                    <marquee> Welcome to SAMRAT SATTA  ! The Most Trusted Gali Desawar Satta App   Customer Care Number +919649850866</marquee>
                </span>
            </div>
                    </div>

                </div>
           

        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->
    <!---728x90--->
    
    
   


                    

                       
                            <!--<h4 style="font-weight:700" class="w3ls_pvt-title">GALI <span style="color:#F64C16;font-weight:700">DESAWER APP</span></h4>-->
                            <!--<p class="p_center">Welcome to the world of NCR  Gali Desawar Satta App</p>-->


                            <!--<h4 class="my-4 res">LIVE RESULT</h4>-->
                            <div style="text-align: center;" >
                            <h2 style="font-weight:700; margin-bottom:40px;margin-top:0px; color:#F64C16;">::LIVE RESULT::</h2>

                            <div style="background-color:#F64C16;padding-top:18px;height:80px "  class="live bounce">
                                <h4  class="">
                                 <span style="padding-top:15px;font-size:40px" class="">10:30PM</span></h4>
                                 
                            </div>
                           
                        </div>
                        
                        
<!--                        <div style="text-align: center;" >-->
<!--                            <h2 style="font-weight:700; margin-bottom:40px;margin-top:0px; color:#F64C16;">::LIVE CARD RESULT::</h2>-->
<!---->
<!--                            <div style="background-color:#FFFFFF;padding-top:18px;height:200px "  class="live bounce">-->
<!--                                <h4  class="">-->
<!--&lt;!&ndash;                                 <span style="padding-top:15px;font-size:40px" class="">&ndash;&gt;<?php //if($live2['game']=="Chidi" && $live2['number'] == "J"){ echo '<img height="150px" src="images/chidi_j.png">' ;}-->
<!--//                                 else if($live2['game']=="Chidi" && $live2['number'] == "Q"){echo '<img height="150px" src="images/chidi_q.png">' ;}-->
<!--//                                 else if($live2['game']=="Chidi" && $live2['number'] == "K"){echo '<img height="150px" src="images/chidi_k.png">' ;}-->
<!--//                                 else if($live2['game']=="Eint" && $live2['number'] == "J"){echo '<img height="150px" src="images/eint_j.png">' ;}-->
<!--//                                 else if($live2['game']=="Eint" && $live2['number'] == "Q"){echo '<img height="150px" src="images/eint_q.png">' ;}-->
<!--//                                 else if($live2['game']=="Eint" && $live2['number'] == "K"){echo '<img height="150px" src="images/eint_k.png">' ;}-->
<!--//                                 else if($live2['game']=="Hukum" && $live2['number'] == "J"){echo '<img height="150px" src="images/hukum_j.png">' ;}-->
<!--//                                 else if($live2['game']=="Hukum" && $live2['number'] == "Q"){echo '<img height="150px" src="images/hukum_q.png">' ;}-->
<!--//                                 else if($live2['game']=="Hukum" && $live2['number'] == "K"){echo '<img height="150px" src="images/hukum_k.png">' ;}-->
<!--//                                 else if($live2['game']=="Pan" && $live2['number'] == "J"){echo '<img height="150px" src="images/pan_j.png">' ;}-->
<!--//                                 else if($live2['game']=="Pan" && $live2['number'] == "Q"){echo '<img height="150px" src="images/pan_q.png">' ;}-->
<!--//                                 else if($live2['game']=="Pan" && $live2['number'] == "K"){echo '<img height="150px" src="images/pan_k.png">' ;}-->
<!--//                                 ?>&lt;!&ndash;</span></h4>&ndash;&gt;-->
<!--                                 -->
<!--                            </div>-->
<!--                           -->
<!--                        </div>-->
                        
                    

                
           

       


<!--<div class="navbar">-->
<!--         <div style="width:400px" class="live ptb-10 italic">-->
<!--            <h3 class="f-w-1200 blinking">:: LIVE RESULT NOW ::</h3>-->
<!--         </div>-->
<!--      </div>-->
<!--      <div class="container-fluid italic">-->
<!--         <div class="days" style="background-image: url(image/sky.jpg); ">-->
<!--            <h4>SUPREME DAY</h4>-->
<!--            <span>007-77-007</span><br>-->
<!--            <button class="btn btn-primary reload" onClick="window.location.reload()">Reload</button>-->
<!--         </div>-->
<!--      </div>-->
    <!-- what we do section -->
    <div style= "margin-top:40px" class="what bg-li py-1 back_img margin_top_first" id="what">
        <div class="container py-xl-2 py-lg-3">
            <h3 class="w3ls_pvt-title p_center">All Market <span style="color:#F64C16">Result</span></h3>
            <div class="row about-bottom-w3l text-center mt-4">
                <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Desawar</h4>
                        {% if results.DESAWAR %}
                            <h5 style="color:#F64C16" class="result">{{ results.DESAWAR }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Faridabad</h4>
                        {% if results['FARIDABAD'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['FARIDABAD'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Gaziabad</h4>
                        {% if results['GAZIABAD'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['GAZIABAD'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">India Night</h4>
                        {% if results['INDIA NIGHT'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['INDIA NIGHT'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Gali</h4>
                        {% if results.GALI %}
                            <h5 style="color:#F64C16" class="result">{{ results.GALI }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Shri Ganesh</h4>
                        {% if results['SHRI GANESH'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['SHRI GANESH'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Delhi Bazar</h4>
                        {% if results['DELHI BAZAR'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['DELHI BAZAR'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">India Darbar</h4>
                        {% if results['INDIA DARBAR'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['INDIA DARBAR'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>

<div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Sadar Bazar</h4>
                        {% if results['SADAR BAZAR'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['SADAR BAZAR'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>

       <div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Gwalior</h4>
                        {% if results['GWALIOR'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['GWALIOR'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>


<div class="col-lg-3 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Agra</h4>
                        {% if results['AGRA'] %}
                            <h5 style="color:#F64C16" class="result">{{ results['AGRA'] }}</h5>
                        {% else %}
                            <h5 style="color:#F64C16" class="result">**</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
     <section class="banner-bottom-w3layouts bg-li py-1 back_img" id="services">
        <div class="container py-xl-2 py-lg-3">
           
            <div class="row pt-lg-4">
                <div class="col-lg-12 about-in text-center">
                    <div class="card">
                        <div class="card-body">
                          
                            <p class="card-text">Get Gali -Desawer  Satta  Market Results Fastest Live Update. Get All ,Satta Matka Result  and Jodi Penal  Charts For Free . All Satta Guessing.With Best Guessers , Online Old Charts , Satta Number Software Links, Online Charts List Pdf Download And Top Satta Guessing Free Number Provided By Admin Sir. Other Special Features Include Satta Weekly satta Jodi Chart.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <!-- what we do section -->
    <div class="what bg-li py-1 back_img" id="what">
        <div class="container py-xl-2 py-lg-3">
            <h3 class="w3ls_pvt-title p_center">SAMRAT SATTA <span style="color:#F64C16">CHART</span></h3>
            
            <div class="row about-bottom-w3l text-center mt-4">
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Desawer Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=DESAWER" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Faridabad Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=FARIDABAD" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Gaziabad Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=GAZIABAD" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Gali Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=GALI" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">India Night Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=INDIA NIGHT" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Shree Ganesh Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=SHREE GANESH" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Delhi Bazar Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=DELHI BAZAR" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">India Darbar Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=INDIA DARBAR" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Gali Chart</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=GALI" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Sadar Bazar</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=SADAR BAZAR" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Gwalior</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=GWALIOR" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                
                <div class="col-lg-4 col-xs about-grid mb-3">
                    <div class="about-grid-main">
                        <h4 class="my-4">Agra</h4>
                        <a style="background-color:#F64C16" href="get_charts?market=AGRA" class="btn button-style mt-1">Click to View</a>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
    
    
<!--    <div class="what bg-li py-1 back_img" id="what">-->
<!--        <div class="container py-xl-2 py-lg-3">-->
<!--            <h3 class="w3ls_pvt-title p_center">CARD GAME <span style="color:#F64C16">CHART</span></h3>-->
<!--            -->
<!--            <div class="row about-bottom-w3l text-center mt-4">-->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">11:30 AM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=11:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">12:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=12:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">01:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=13:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                -->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">02:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=14:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">03:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=15:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">04:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=16:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                -->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">05:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=17:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">06:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=18:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">07:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=19:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                -->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">08:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=20:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                -->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">09:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=21:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                -->
<!--                <div class="col-lg-4 col-xs about-grid mb-3">-->
<!--                    <div class="about-grid-main">-->
<!--                        <h4 class="my-4">10:30 PM</h4>-->
<!--                        <a style="background-color:#F64C16" href="api/charted/index2.php?market=22:30" class="btn button-style mt-1">Click to View</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                -->
<!--                -->
<!---->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

{#    <section class="banner-bottom-w3layouts bg-li py-1 back_img" id="services">#}
{#        <div class="container py-xl-2 py-lg-3">#}
{#            <h3 class="w3ls_pvt-title text-center font-weight-bold">Jodi <span style="color:#F64C16">Chart</span></h3>#}
{#            <p class="sub-tittle text-center mt-2 mb-sm-2 mb-2">All Jodi Chart</p>#}
{#            <div class="row pt-lg-4">#}
{#                <div class="col-lg-3 about-in text-center mb-2">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="bg-clr-w3l">#}
{#                                <span class="">77</span>#}
{#                            </div>#}
{#                            <h5 class="card-title mt-2 mb-2">Desawer</h5>#}
{#                           #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 about-in text-center mb-2">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="bg-clr-w3l">#}
{#                                <span class="">11</span>#}
{#                            </div>#}
{#                            <h5 class="card-title mt-2 mb-2">Faridabad</h5>#}
{#                           #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 about-in text-center mb-2">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="bg-clr-w3l">#}
{#                                <span class="">00</span>#}
{#                            </div>#}
{#                            <h5 class="card-title mt-2 mb-2">Gaziyabad</h5>#}
{#                           #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 about-in text-center mb-2">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="bg-clr-w3l">#}
{#                                <span class="">11</span>#}
{#                            </div>#}
{#                            <h5 class="card-title mt-2 mb-2">India Night</h5>#}
{#                           #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#               #}
{#            </div>#}
{#            <div class="row pt-lg-4">#}
{#                <div class="col-lg-3 about-in text-center mb-2">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="bg-clr-w3l">#}
{#                                <span class="">12</span>#}
{#                            </div>#}
{#                            <h5 class="card-title mt-2 mb-2">Gali</h5>#}
{#                           #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 about-in text-center mb-2">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="bg-clr-w3l">#}
{#                                <span class="">00</span>#}
{#                            </div>#}
{#                            <h5 class="card-title mt-2 mb-2">Shree Ganesh</h5>#}
{#                           #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 about-in text-center mb-2">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="bg-clr-w3l">#}
{#                                <span class="">11</span>#}
{#                            </div>#}
{#                            <h5 class="card-title mt-2 mb-2">Delhi Bazar</h5>#}
{#                           #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 about-in text-center mb-2">#}
{#                    <div class="card">#}
{#                        <div class="card-body">#}
{#                            <div class="bg-clr-w3l">#}
{#                                <span class="">45</span>#}
{#                            </div>#}
{#                            <h5 class="card-title mt-2 mb-2">India Darbar</h5>#}
{#                           #}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#               #}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section class="banner-bottom-w3layouts bg-li py-1 back_img" id="services">
        <div class="container py-xl-2 py-lg-3">
           
            <div class="row pt-lg-4">
                <div class="col-lg-12 about-in text-center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mt-4 mb-3">SAMRAT SATTA  Gali Desawar Satta App</h5>
                            <p class="card-text">SAMRAT SATTA  Gali Desawar Satta App 
Gali satta App  in satta  guru provides genuine fix game. To win satta a game play satta App with satta guru</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-bottom-w3layouts bg-li py-1 back_img" id="services">
        <div class="container py-xl-2 py-lg-3">
           
            <div class="row pt-lg-4">
                <div class="col-lg-12 about-in text-center">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mt-4 mb-3">Disclaimer</h5>
                            <p class="card-text">The information contained in this website is for general information purposes only. The information is provided by [business name] and while we are committed to keep the information up to date and correct. we make no representations or warranties of any kind, express or implied. about the completeness. accuracy. reliability, suitability or availability with respect to the website or the information. products. services. or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <!-- footer -->
    <footer class="bg-li py-1 back_img">
        <div  class="container py-xl-2 py-lg-3">
            <!-- subscribe -->
            <div  class="subscribe mx-auto">
                <div style="background-color:#F64C16" class="icon-effect-w3">
                    <span>SAMRAT</span>
                </div>
                <h2 class="tittle text-center font-weight-bold">Connected for Latest Result!</h2>
                <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Satta Matka,satta matka in satta matka guru provides genuine fix game. To win satta matka game play satta matka with satta matka guru</p>

            </div>
            <!-- //subscribe -->
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright bottom -->
    <div style="background-color:#F64C16" class="copy-bottom bg-li py-4 border-top">
        <div class="container-fluid">
            <div class="d-md-flex px-md-3 position-relative text-center">

                <!-- copyright -->
                <div  class="copy_right mx-md-auto mb-md-0 mb-3">
                    <p class="let" style="color:#fff !important">© 2023 SAMRAT SATTA. All rights reserved 
                        <a href="" target="_blank" style="color:#fff !important">SAMRAT SATTA</a>
                        <a href="" target="_blank" style="margin-left:20px;color:#fff !important">Support Number : +919649850866</a>
                    </p>
                </div>
                <!-- //copyright -->
                <!-- move top icon -->
                <a href="#home" class="move-top text-center">
                    <span class="fa fa-level-up" aria-hidden="true"></span>
                </a>
                <!-- //move top icon -->
            </div>
        </div>
    </div>
    <!-- //copyright bottom -->

</body>
</html>
